<div class="container">
    <div id="react"></div>
</div>


<script src="/bower_components/requirejs/require.js"></script>
<script src="/bower_components/dropzone/dist/dropzone.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=drawing"></script>
<script id="argScript" src="/react/js/pin/main.js"></script>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/bower_components/dropzone/dist/dropzone.css"/>
<link rel="stylesheet" href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
<style>

    .dropzone.dz-clickable {
        cursor: pointer;
    }

    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

    .item {
        color: #333;
        float: left;
        font-size: 12px;
        /*
        width: 165px;
        */
        padding-left: 5px;
        margin: 0;
    }

    .itemContent {
        padding-left: 0;
        color: #9197a3;
        /*
        font-weight: bold;
        width: 445px;
        */
        margin-left: 175px;

        font-size: 12px;
    }

    .row {
        border-width: 0;
        border-color: #e9eaed;
        border-style: solid;
    }

    .list {
        border-bottom: 1px solid #aaa;
        border-top: 1px solid #aaa;
        list-style-type: none;
        word-wrap: break-word;
        padding: 0 20px;
        /*
        width: 759px;
        */
        margin-right: 0;
    }

    html, body {
        height: 100%;
        background: #e9eaed;
    }

    #map-react {
        width: 500px;
        height: 400px;
    }

    .map {
        width: 100%;
        height: 100%;
    }

</style>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/bower_components/react-select/dist/default.css"/>
<script>
    /*
    // Ajax Request without jquery
    var ajax = {};
    ajax.x = function () {
        if (typeof XMLHttpRequest !== 'undefined') {
            return new XMLHttpRequest();
        }
        var versions = [
            "MSXML2.XmlHttp.5.0",
            "MSXML2.XmlHttp.4.0",
            "MSXML2.XmlHttp.3.0",
            "MSXML2.XmlHttp.2.0",
            "Microsoft.XmlHttp"
        ];

        var xhr;
        for (var i = 0; i < versions.length; i++) {
            try {
                xhr = new ActiveXObject(versions[i]);
                break;
            } catch (e) {
            }
        }
        return xhr;
    };

    ajax.send = function (url, method, data, sync, callback) {
        var x = ajax.x();
        x.open(method, url, sync);
        x.onreadystatechange = function () {
            if (x.readyState == 4) {
                callback(x.responseText)
            }
        };

        if (method == 'POST') {
            x.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        }

        x.send(data);
    };

     */
    if (document.getElementById('dropzone')) {
        var Dropzone = new Dropzone("div#dropzone", {url: "/file/post"});
    }

    /*

     $("#create").submit(function (event) {
        console.info("Handler for .submit() called.");
        event.preventDefault();

        var data = {
            title: $("#title").val(),
            description: $("#description").val(),
            category: $("#category").val(),
            location: JSON.stringify(window.selectedLocation)
        };

        var query = [];
        for (var key in data) {
            query.push(encodeURIComponent(key) + '=' + encodeURIComponent(data[key]));
        }

        ajax.send("/pin/create", "POST", query.join('&'), true, function () {

        });

        /*
         var request = new XMLHttpRequest();
         request.open('POST', '/pin/create', true);
         request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
         request.send(data);
         */

        /*
         $.ajax({
         'type': "POST",
         'async': false,
         'global': false,
         'data': data,
         'url': "/pin/create",
         'dataType': "json",
         'success': function (data) {
         console.info("User seems to be updated correctly: " + JSON.stringify(data))
         //callback(null, data);
         },
         'error': function (error) {
         console.info("Error occured: " + JSON.stringify(error))
         //callback(error, null)
         }
         });
         */
    /*

    });
     */
</script>