<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<!-- Bootplus -->
<link href="/bower_components/bootplus/docs/assets/css/bootplus.css" rel="stylesheet" media="screen">
<link href="/bower_components/bootplus/docs/assets/css/bootplus-responsive.css" rel="stylesheet" media="screen">
<!--[if IE 7]>
<link rel="stylesheet" href="/bower_components/bootplus/docs/assets/css/bootplus-ie7.min.css">
<![endif]-->
<link rel="stylesheet" href="http://onefinestay.github.io/react-daterange-picker/css/react-calendar.css">
<style>

    .modal {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: auto
    }

    @media (min-width: 771px) {
        .content--main {
            left: 33.33333333%;
        }
    }

    @media (min-width: 771px) {
        .content--main {
            float: left;
            width: 66.66666667%;
        }

        .content--main, .content--secondary, .content-col--full, .content-col--left, .content-col--right {
            position: relative;
            min-height: 1px;
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }

    .sticky-wrapper .content--secondary {
        width: 320px;
    }

    @media (min-width: 771px) {
        .content--secondary {
            right: 66.66666667%;
        }
    }

    @media (min-width: 771px) {
        .content--secondary {
            float: left;
            width: 33.33333333%;
        }

        .content--main, .content--secondary, .content-col--full, .content-col--left, .content-col--right {
            position: relative;
            min-height: 1px;
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }

</style>

<div class="container">
        <div id="react"></div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootplus/docs/assets/js/bootstrap.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/moment-range/dist/moment-range.js"></script>
<script id="argScript" src="/react/js/dashboard/main.js"></script>
