<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<!-- Bootplus -->
<link href="/bower_components/bootplus/docs/assets/css/bootplus.css" rel="stylesheet" media="screen">
<link href="/bower_components/bootplus/docs/assets/css/bootplus-responsive.css" rel="stylesheet" media="screen">
<!--[if IE 7]>
<link rel="stylesheet" href="/bower_components/bootplus/docs/assets/css/bootplus-ie7.min.css">
<![endif]-->
<div class="container">
    <div id="react"></div>
    <div id="calendar"></div>
</div>
<script id="argScript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- <script src="/bower_components/jquery/dist/jquery.min.js"></script> -->
<script src="/bower_components/bootplus/docs/assets/js/bootstrap.min.js"></script>
<!--<script id="argScript" src="/react/js/dashboard/main.js"></script> -->

<!--
<script src="/bower_components/requirejs/require.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootplus/docs/assets/js/bootstrap.min.js"></script>
<script id="argScript" src="/react/js/dashboard/main.js"></script>
-->

