<!DOCTYPE html>
<head>
    <!-- Todo: add needed styles / scripts -->
    <link rel="stylesheet"
          href="http://netflix.github.io/css/style.css?v=201303081202">
</head>
<body style="margin: 0px;">
<div id="react"></div>

<script src="/bower_components/requirejs/require.js"></script>
<script src="/linker/js/dashboard/main.js"></script>

</body>
</html>