<!DOCTYPE html>
<head>
    <!-- Todo: add needed styles / scripts -->
    <link rel="stylesheet" href="http://netflix.github.io/css/style.css?v=201303081202">
    <link rel="stylesheet"
          href="http://cdn2.nflxext.com/FilePackageGetter/sharedSystem/pkg-nflxrsrc-7000000104000000008b53586a28613c12aa42111d208185020c071088027b80180-1431366828-14-14.css?v=14&r=eu-west-1">
</head>
<body style="margin: 0px;">
<div id="react"></div>

<script src="/bower_components/requirejs/require.js"></script>
<script src="/react/js/dashboard/main.js"></script>

</body>
</html>