<!DOCTYPE html>
<head>
    <!-- Todo: add needed styles / scripts -->
</head>
<body>


<div class="container" id="react"></div>

<script src="/bower_components/requirejs/require.js"></script>
<script src="/linker/js/landing/main.js"></script>

</body>
</html>