<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<!-- Bootplus -->
<link href="/bower_components/bootplus/docs/assets/css/bootplus.css" rel="stylesheet" media="screen">
<link href="/bower_components/bootplus/docs/assets/css/bootplus-responsive.css" rel="stylesheet" media="screen">
<!--[if IE 7]>
<link rel="stylesheet" href="/bower_components/bootplus/docs/assets/css/bootplus-ie7.min.css">
<![endif]-->
<link href="/styles/base.css" rel="stylesheet">

<style>
    html, body {
        height: 100%;
        background: #e9eaed;
    }

    #sidebar {
        position: fixed;
        top: 47px;
        left: 0;
        bottom: 0;
        width: 60%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background: #e9eaed;
    }
</style>
<div class="container" style="margin-left: 10px;">
    <div id="react"></div>
</div>
<script src="/bower_components/requirejs/require.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootplus/docs/assets/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places,drawing&key=AIzaSyAyNqL67q9mpTD4Xm6z9jIgb2chU5AwAkU"></script>
<script src="/react/js/map/mapMain.js"></script>