<div class="container" id="react"></div>

<script src="/bower_components/requirejs/require.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="/linker/js/map/mapMain.js"></script>